*{
    margin: 0px;
    padding: 0px;
}

html ::-webkit-scrollbar{
    width: 5px;
}

html ::-webkit-scrollbar-thumb{
    background-color: rgb(51, 67, 61);
    padding: 10px;
 }
 
.row{
    --bs-gutter-x: 0rem;
}

p{
    font-size: 1.2em;
}

span{
    font-size: 1.2em;
    font-weight: 500;
}

ul{
    list-style: none;
    padding-left: 0px;
}

li{
    padding: 5px 0px 5px 0px;
}

/*--Nav--*/
.links-nav a{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.links-nav a:hover{
    color: green;
}

.menu-mobile{
    display: none;
}

.hamburguer{
    border: none;
    background: none;
    border-top: 3px solid black;
    cursor: pointer;
    display: none;
}

.hamburguer::before,
.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media(max-width: 999px) {
    body{ 
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .hamburguer{
        display: block;
        z-index: 2;
        position: fixed;
        top: 26px;
        right: 16px;
    }

    .navbar-nav{
        display: none;
    }

    .menu-mobile{
        display: inline;
        position: fixed;
        z-index: 15;
        width: 60%;
        height: 110%;
        background: white;
        margin-left: -2000px;
    }

    .nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before{
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

}
/*---------*/

/*--Anuncios--*/
.area-textos{
    display: grid;
    place-items: center;
    padding: 0px;
    margin: 0px;
}
/*---------*/

/*--Aviso--*/
.btn-customizado-aviso{
    border: 1px solid black;
    border-radius: 70px;
    padding: 4px 10px 4px 10px;
    background: transparent;
    font-weight: 600;
}
/*---------*/

/*--Linha--*/
#linha{
    background: black;
    opacity: 0.6;
    width: 100%;
    height: 1px;
}
/*---------*/

/*--Rodapé--*/
.btnr a {
    text-decoration: none;
    font-size: 0.9em;
    color: rgba(51, 67, 61, 0.8);
    margin: 10px 0px 10px 0px;
}

.btnr a:hover{
    color: black;    
}

#btn-1, #btn-2, #btn-3, #btn-4{
    display: none;
}

@media(max-width: 575px) {
    #btn-1, #btn-2, #btn-3, #btn-4{
        display: block;
        rotate: 180deg;
    }

    .rdp1 .rdp-m{
       margin: 3% 0px 3% 0px;
    }
}
/*--Rodapé--2*/

.rdp2 a{
    padding: 7px;
}

.rdpl2 a {
    text-decoration: none;
    color: black;
    padding: 0px 10px 5px 10px;
    border-right: 1px solid black;
}

.rdpl2 a:hover {
    color: rgb(51, 67, 61);
}

@media(max-width: 999px) {
    .rdpl2 a {
        display: block;
        border: none;
        padding: 0px 0px 20px 0px;
    }  
}

#copy{
    font-size: 0.9em;
    color: rgba(51, 67, 61, 0.7);
}
/*---------*/
