*{
    margin: 0px;
    padding: 0px;
}

/*--Nav--*/
.links-nav a{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.links-nav a:hover{
    color: green;
}